@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap');

:root{
    --ownershipHighlightColor: #02cd02;
    --legalReserveColor: #23a48f;
    --defaultSquareColor: green;
}

#map-region{
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    background-color: none;

}

#map{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#0000;
    border-radius: 2px;
   
}

#dimensions > label, input{   
    font-size: 1.1em;
    margin: 0.1em;
    font-family: 'Josefin Sans';
    border-radius: 3px;
    min-width: 7em;
    background-color: #0000;
    padding: 0.3em;
}

input#enter:hover, input#reset:hover{
    cursor: pointer;
    border-color: #02cd02;
}

#subtitles{
    display: flex;
    justify-content: center;
    margin: 2em;
}


#subtitles > *{
    margin: 0.4em;
    border-radius: 4px;
    font-family: "Josefin Sans", sans-serif;
    padding: 0.6em;
}

#statistics > table{
    font-size: 1.2em;
}

caption{
    background-color: var(--ownershipHighlightColor);
}

caption, td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}


.line{
    display: flex;
    flex-direction: row;
}

.square{
    width: 1cm;
    height: 1cm;
    background-color: var(--defaultSquareColor);
    margin: 0.04em;
    border-radius: 2px;
}